<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>170650541497-ool1pqbno4q0qsn3outbdkqkut89sjeh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170650541497-ool1pqbno4q0qsn3outbdkqkut89sjeh</string>
	<key>API_KEY</key>
	<string>AIzaSyBVj6K79U8nsoNOqLihxHcJRvN153OAMlk</string>
	<key>GCM_SENDER_ID</key>
	<string>170650541497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ConPro.ConPro6969</string>
	<key>PROJECT_ID</key>
	<string>conpro-e4fef</string>
	<key>STORAGE_BUCKET</key>
	<string>conpro-e4fef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170650541497:ios:5b5cb5a6a8c5e2b2</string>
	<key>DATABASE_URL</key>
	<string>https://conpro-e4fef.firebaseio.com</string>
</dict>
</plist>